{% extends 'base.html' %}


{% block content %}

<p><strong>Marceli Krol |BSc Computer Science Student</strong></p>
<p>Professional profile</p>
<p>I&rsquo;m an organised and motivated first year Computer Science student looking for a weekend or/and evening job. Excellent mathematics grades at both, GCSE and A Level are a proof that I&rsquo;m confident with numbers and problem solving as well as statistics. On variety of occasions I&rsquo;ve proved myself as a fast learner, especially with engineering and programming aspects of computers, I also enjoy learning and exploring different types of software. Programming languages which I&rsquo;m familiar with are Java, C++, PHP, SQL and HTML.</p>
<p>Education &amp; qualifications</p>
<ul>
<li><strong>University of Birmingham &ndash; </strong>30/09/2019 &shy;- present (Course Ends: 01/07/2022)
<ul>
<li><strong>Degree subject &ndash;</strong> BSc Computer Science</li>
</ul>
</li>
</ul>
<p>First year, which I&rsquo;m currently doing, deeply covers following modules:</p>
<p>Artificial Intelligence, Data Structures and Algorithms, Logic and Computation, Mathematical Foundations of Computer Science, Object Oriented Programming and Full Stack Application Development. Programming language which I&rsquo;m being taught is Java.</p>
<p>&nbsp;</p>
<ul>
<li><strong>Phoenix Collegiate Sixth Form &ndash; </strong>09/2017 &ndash; 07/2019
<ul>
<li><strong>A Level Mathematics &ndash;</strong> A</li>
<li><strong>A Level Photography &ndash;</strong> A*</li>
<li><strong>A Level Polish &ndash; </strong>A*</li>
<li><strong>A Level Physics &ndash;</strong> C</li>
<li><strong>A Level Further Mathematics &ndash; </strong>D</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Phoenix Collegiate &ndash; </strong>10/2014 - 07/2017</li>
</ul>
<p>9 GCSEs including Mathematics, English and Science at grades A*-C</p>
<p>Placements and projects</p>
<p><strong>09/07/2018 &ndash; 13/07/2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Work Experience week at TATA Consultancy Services, Aston University</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></p>
<p><em>Outline</em></p>
<p>Carrying a week-long group project aiming to provide an efficient solution to various community issues in public, for example supporting elderly or homeless people by introducing to them easy to understand pieces of technology which would be freely available around the towns.</p>
<p>&nbsp;</p>
<p><em>Key responsibilities</em></p>
<ul>
<li>Organising each day activities in a neat and efficient way towards finishing the project on time</li>
<li>Brainstorming ideas and fitting them into idea of the project</li>
<li>Applying GCSE business and A Level Mathematics skills in order to estimate the costs</li>
<li>Smoothly switching between roles and sharing everything I&rsquo;ve done with rest of the team</li>
<li>Researching sectors of technology and business which I&rsquo;ve never done before and successfully applying gained knowledge into the project</li>
</ul>
<p>&nbsp;</p>
<p><em>Key achievements</em></p>
<ul>
<li>Efficiently working under pressure</li>
<li>Gained knowledge and experience of Agile Project Management</li>
<li>Learnt how to effectively think outside the box</li>
<li>Skills in communicating and working in team</li>
</ul>
<p>&nbsp;</p>
<p><em>&nbsp;</em></p>
<p>&nbsp;</p>
<p><strong>11/07/2017 &ndash; 15/07/2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Work Experience week at Department of Architecture and Engineering, Sandwell Council, Oldbury</strong></p>
<p><strong>&nbsp;</strong></p>
<p><em>Outline</em></p>
<p>Working with architects and engineers in office as well as outside for a week. I&rsquo;ve spent half of the time on my individual project which was about making my own 3D model of innovative house and its surroundings different professional programs. Rest of the time was spent outside the office, either travelling to different clients with an engineer and trying to solve issues they were facing or visiting various building sites with an architect.</p>
<p><strong>&nbsp;</strong></p>
<p><em>Key responsibilities</em></p>
<ul>
<li>Efficient planning of my own project and setting deadlines which I have to meet</li>
<li>Working towards identifying the issues on the site and finding possible solutions</li>
<li>Keeping an eye on the details</li>
<li>Making sure everything done so far on the site matches the blueprints</li>
</ul>
<p>&nbsp;</p>
<p><em>Key achievements</em></p>
<ul>
<li>Gained knowledge and key skills in using professional software that is being used by architects on everyday basis, for example SketchUp or AutoCAD</li>
<li>Learnt how problems are being identified and handled by working with an engineer</li>
<li>Working individually for half of the time allowed me to learn how to efficiently plan and take responsibility for my actions</li>
</ul>
<p>&nbsp;</p>
<p><em>&nbsp;</em></p>
<p>Interests</p>
<p><strong>Interests:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Travelling, programming, creating 3D models and researching various algorithms that are being used all the time in the variety of programs.</p>


{% endblock %}

